<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="menu-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="grow" fxLayout="row" fxLayoutGap="1rem">
      <button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async"
        mat-icon-button
        matTooltip="Toggle sidenav"
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        mat-stroked-button
        matTooltip="Open feedback form"
        routerLink="/contact"
        type="button"
      >
        <mat-icon aria-label="Feedback icon">feedback</mat-icon>
        {{ (isHandset$ | async) ? "" : "Feedback" }}
      </button>
    </div>

    <div>f4ratk</div>

    <div fxFlex="grow"></div>
  </div>
</mat-toolbar>
