<footer fxLayout="row">
  <mat-toolbar class="mat-caption">
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <div>
        <mat-list>
          <mat-list-item>
            <mat-icon matlisticon svgIcon="liberapay-logo"></mat-icon>
            <a appExt href="https://liberapay.com/f4ratk/donate"
              >Patronize / Donate</a
            >
          </mat-list-item>
          <mat-list-item>
            <mat-icon matlisticon>terrain</mat-icon>
            <a appExt href="https://codeberg.org/toroettg/f4ratk-web"
              >Source Code</a
            >
          </mat-list-item>
          <mat-list-item>
            <mat-icon matlisticon>bug_report</mat-icon>
            <a appExt href="https://codeberg.org/toroettg/f4ratk-web/issues"
              >Issue Tracker</a
            >
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <mat-list>
          <mat-list-item>
            <a appExt href="https://codeberg.org/toroettg/f4ratk"
              >Powered by f4ratk</a
            >
          </mat-list-item>
          <mat-list-item>Licensed under the GNU AGPLv3-only</mat-list-item>
        </mat-list>
      </div>
      <div>
        <mat-list>
          <mat-list-item><a routerLink="contact">Contact</a></mat-list-item>
          <mat-list-item
            ><a routerLink="legal-notice">Legal Notice</a></mat-list-item
          >
          <mat-list-item
            ><a routerLink="privacy-policy">Privacy Policy</a></mat-list-item
          >
        </mat-list>
      </div>
    </div>
  </mat-toolbar>
</footer>
