mat-toolbar {
  height: 100%;
}

:host ::ng-deep .mat-list-item {
  font-size: 12px;
  height: inherit !important;
}

:host ::ng-deep .mat-list-item .mat-icon[matlisticon] {
  padding-right: 0.25rem;
}
