<mat-form-field [formGroup]="formGroup" appLowSeverity fxFlexFill>
  <mat-label>Region</mat-label>
  <mat-select formControlName="region" required>
    <mat-option *ngFor="let region of availableRegions()" [value]="region">
      {{ region.id }}
    </mat-option>
  </mat-select>
  <mat-hint>The region, the analysis will test against.</mat-hint>
</mat-form-field>
