<form
  (ngSubmit)="onSubmit()"
  [formGroup]="statementsForm"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
>
  <mat-form-field [class]="this.severity('totalExpenseRatio')">
    <mat-label>Total Expense Ratio</mat-label>
    <input formControlName="totalExpenseRatio" matInput placeholder="0.35" />
    <mat-hint>e.g., '(Annual) TER'</mat-hint>
    <mat-error *ngIf="this.hasError('totalExpenseRatio')"
      >An input number greater than 0 is required.</mat-error
    >
  </mat-form-field>

  <mat-form-field [class]="this.severity('expenses')">
    <mat-label>Expenses</mat-label>
    <input formControlName="expenses" matInput placeholder="1908" />
    <mat-hint>e.g., 'Operating Expenses', 'Management Fees', 'Cost'</mat-hint>
    <mat-error *ngIf="this.hasError('expenses')"
      >An input number greater than 0 is required.</mat-error
    >
  </mat-form-field>

  <mat-form-field [class]="this.severity('transactionCosts')">
    <mat-label>Transaction Costs</mat-label>
    <input formControlName="transactionCosts" matInput placeholder="492" />
    <mat-hint>e.g., 'Transaction Fees and Commissions'</mat-hint>
  </mat-form-field>

  <mat-form-field [class]="this.severity('withholdingTax')">
    <mat-label>Withholding Tax</mat-label>
    <input formControlName="withholdingTax" matInput placeholder="1765" />
    <mat-hint
      >e.g., '(Foreign) Withholding tax (on investment income)',
      'Non-reclaimable overseas income withholding tax', 'Income Withholding
      tax'</mat-hint
    >
  </mat-form-field>

  <mat-form-field [class]="this.severity('capitalGainsTax')">
    <mat-label>Capital Gains Tax</mat-label>
    <input formControlName="capitalGainsTax" matInput placeholder="284" />
    <mat-hint>e.g., 'Non-reclaimable overseas capital gains tax'</mat-hint>
  </mat-form-field>

  <mat-form-field [class]="this.severity('securitiesLendingIncome')">
    <mat-label>Securities Lending Income</mat-label>
    <input
      formControlName="securitiesLendingIncome"
      matInput
      placeholder="110"
    />
  </mat-form-field>

  <button [disabled]="!statementsForm.valid" mat-stroked-button type="submit">
    Analyze
  </button>
</form>
