<h1>
  The Fama / French Finance Factor Regression Analysis Toolkit for the web.
</h1>

<h2>Here be dragons</h2>

<p>
  This program has been made available in the hope that it will be useful, but
  <em>without any warranty</em>; without even the implied warranty of
  <em>merchantability</em> or <em>fitness for a particular purpose</em>.
</p>
<p>
  The results you will find depend highly on the inputs you define. They are
  easily misinterpreted and conclusions can be drawn based on an incorrect
  initial situation. This toolkit should not be used by itself as a basis for
  decision‐making and cannot replace an individual financial consulting; nor
  does it try to. Even though this software has been developed and tested to the
  best of our knowledge and belief, there are none provided guarantees.
</p>

<h2>Features</h2>

The following lists some main use cases, this software can assist you.

<ul>
  <li>Analyze stock quotes of a ticker symbol.</li>
  <li>Analyze arbitrary performance data from file.</li>
  <li>Estimate excess returns based on regression results.</li>
  <li>Estimate implicit fund costs based on report statements.</li>
</ul>

<h2>License</h2>

<p>
  This project is
  <a appExt href="https://www.gnu.org/philosophy/free-sw.en.html"
    >free software</a
  >
  and licensed under the
  <a appExt href="https://spdx.org/licenses/AGPL-3.0-only.html"
    >GNU Affero General Public License version 3 (only)</a
  >.
</p>
