table {
  width: 100%;
}

.mat-footer-row {
  font-weight: bold;
}

.mat-column-amount {
  text-align: end;
}

tr:last-child {
  td.mat-cell {
    border-bottom-color: #d8dee9;
  }
}

tbody.td.mat-cell:last-child {
  border-bottom-style: none;
}

td.mat-footer-cell {
  border-bottom-style: none;
}
