<h1>Analyze ticker symbol data</h1>

<form
  [formGroup]="analysisForm"
  (ngSubmit)="onSubmit()"
  fxLayout="row wrap"
  fxLayoutAlign="start center"
  fxLayoutGap="1rem"
>
  <app-symbol-input
    [formGroup]="analysisForm"
    formName="symbol"
  ></app-symbol-input>

  <app-region-select [formGroup]="analysisForm"></app-region-select>

  <button
    fxFlexAlign="center"
    mat-stroked-button
    type="submit"
    [disabled]="!analysisForm.valid"
  >
    Analyze
  </button>
</form>

<div *ngIf="isAnalyzing; then analyzingBlock; else idleBlock"></div>
<ng-template #analyzingBlock>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
<ng-template #idleBlock>
  <mat-divider></mat-divider>
  <app-report *ngIf="analysisReport" [report]="analysisReport"></app-report>
</ng-template>
