<h1>Analyze file content</h1>

<app-file-analysis-configuration (analysisRequest)="analyze($event)">
</app-file-analysis-configuration>

<div *ngIf="isAnalyzing; then analyzingBlock; else idleBlock"></div>
<ng-template #analyzingBlock>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
<ng-template #idleBlock>
  <mat-divider></mat-divider>
  <app-report *ngIf="analysisReport" [report]="analysisReport"></app-report>
</ng-template>
