<p>
  The following information (Datenschutzerklärung) is required under German law.
</p>

<h1>Datenschutzerklärung</h1>
<h2>Einleitung</h2>
<p>
  Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären,
  welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten“
  bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die
  Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen
  personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen
  als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie
  innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile
  (nachfolgend zusammenfassend bezeichnet als "Onlineangebot“).
</p>
<p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
<p>Stand: 28. März 2021</p>
<h2>Inhaltsübersicht</h2>
<ul class="index">
  <li><a class="index-link" fragment="m14" routerLink=".">Einleitung</a></li>
  <li>
    <a class="index-link" fragment="m3" routerLink=".">Verantwortlicher</a>
  </li>
  <li>
    <a class="index-link" fragment="mOverview" routerLink="."
      >Übersicht der Verarbeitungen</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m13" routerLink="."
      >Maßgebliche Rechtsgrundlagen</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m27" routerLink=".">Sicherheitsmaßnahmen</a>
  </li>
  <li>
    <a class="index-link" fragment="m25" routerLink="."
      >Übermittlung von personenbezogenen Daten</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m225" routerLink="."
      >Bereitstellung des Onlineangebotes und Webhosting</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m182" routerLink=".">Kontaktaufnahme</a>
  </li>
  <li>
    <a class="index-link" fragment="m136" routerLink="."
      >Präsenzen in sozialen Netzwerken (Social Media)</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m723" routerLink="."
      >Management, Organisation und Hilfswerkzeuge</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m12" routerLink=".">Löschung von Daten</a>
  </li>
  <li>
    <a class="index-link" fragment="m15" routerLink="."
      >Änderung und Aktualisierung der Datenschutzerklärung</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m10" routerLink="."
      >Rechte der betroffenen Personen</a
    >
  </li>
  <li>
    <a class="index-link" fragment="m42" routerLink=".">Begriffsdefinitionen</a>
  </li>
</ul>
<h2 id="m3">Verantwortlicher</h2>
<p>{{ name }}<br />{{ address }}<br />{{ city }}<br />{{ country }}</p>
<p>
  E-Mail-Adresse: <a href="mailto:{{ email }}">{{ email }}</a
  >.
</p>
<p>
  Impressum: <a routerLink="/legal-notice">{{ legalNoticeUrl }}</a
  >.
</p>
<h2 id="mOverview">Übersicht der Verarbeitungen</h2>
<p>
  Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die
  Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.
</p>
<h3>Arten der verarbeiteten Daten</h3>
<ul>
  <li>Bestandsdaten (z.B. Namen, Adressen).</li>
  <li>Inhaltsdaten (z.B. Eingaben in Onlineformularen).</li>
  <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
  <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
  <li>
    Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
    Zugriffszeiten).
  </li>
</ul>
<h3>Kategorien betroffener Personen</h3>
<ul>
  <li>Kommunikationspartner.</li>
  <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
</ul>
<h3>Zwecke der Verarbeitung</h3>
<ul>
  <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
  <li>Feedback (z.B. Sammeln von Feedback via Online-Formular).</li>
  <li>Marketing.</li>
  <li>Kontaktanfragen und Kommunikation.</li>
</ul>
<h3 id="m13">Maßgebliche Rechtsgrundlagen</h3>
<p>
  Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf
  deren Basis wir personenbezogenen Daten verarbeiten. Bitte nehmen Sie zur
  Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in
  Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im
  Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen
  diese in der Datenschutzerklärung mit.
</p>
<ul>
  <li>
    <strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO)</strong> - Die
    betroffene Person hat ihre Einwilligung in die Verarbeitung der sie
    betreffenden personenbezogenen Daten für einen spezifischen Zweck oder
    mehrere bestimmte Zwecke gegeben.
  </li>
  <li>
    <strong
      >Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit.
      b. DSGVO)</strong
    >
    - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen
    Vertragspartei die betroffene Person ist, oder zur Durchführung
    vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen
    Person erfolgen.
  </li>
  <li>
    <strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</strong> -
    Die Verarbeitung ist zur Wahrung der berechtigten Interessen des
    Verantwortlichen oder eines Dritten erforderlich, sofern nicht die
    Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die
    den Schutz personenbezogener Daten erfordern, überwiegen.
  </li>
</ul>
<p>
  <strong>Nationale Datenschutzregelungen in Deutschland</strong>: Zusätzlich zu
  den Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale
  Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das
  Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der
  Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
  insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung,
  zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien
  personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur
  Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall
  einschließlich Profiling. Des Weiteren regelt es die Datenverarbeitung für
  Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick
  auf die Begründung, Durchführung oder Beendigung von
  Beschäftigungsverhältnissen sowie die Einwilligung von Beschäftigten. Ferner
  können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung
  gelangen.
</p>
<h2 id="m27">Sicherheitsmaßnahmen</h2>
<p>
  Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des
  Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der
  Umstände und der Zwecke der Verarbeitung sowie der unterschiedlichen
  Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und
  Freiheiten natürlicher Personen geeignete technische und organisatorische
  Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.
</p>
<p>
  Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit,
  Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen und
  elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs,
  der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer
  Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung
  von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die
  Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz
  personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware,
  Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch
  Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.
</p>
<p>
  <strong>SSL-Verschlüsselung (https)</strong>: Um Ihre via unser Online-Angebot
  übermittelten Daten zu schützen, nutzen wir eine SSL-Verschlüsselung. Sie
  erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der
  Adresszeile Ihres Browsers.
</p>
<h2 id="m25">Übermittlung von personenbezogenen Daten</h2>
<p>
  Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass
  die Daten an andere Stellen, Unternehmen, rechtlich selbstständige
  Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber
  offengelegt werden. Zu den Empfängern dieser Daten können z.B. mit IT-Aufgaben
  beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in eine
  Webseite eingebunden werden, gehören. In solchen Fall beachten wir die
  gesetzlichen Vorgaben und schließen insbesondere entsprechende Verträge bzw.
  Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern Ihrer
  Daten ab.
</p>
<h2 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2>
<p>
  Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen
  wir die Leistungen von einem oder mehreren Webhosting-Anbietern in Anspruch,
  von deren Servern (bzw. von ihnen verwalteten Servern) das Onlineangebot
  abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und
  Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste
  sowie Sicherheitsleistungen und technische Wartungsleistungen in Anspruch
  nehmen.
</p>
<p>
  Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten Daten
  können alle die Nutzer unseres Onlineangebotes betreffenden Angaben gehören,
  die im Rahmen der Nutzung und der Kommunikation anfallen. Hierzu gehören
  regelmäßig die IP-Adresse, die notwendig ist, um die Inhalte von
  Onlineangeboten an Browser ausliefern zu können, und alle innerhalb unseres
  Onlineangebotes oder von Webseiten getätigten Eingaben.
</p>
<p>
  <strong>Erhebung von Zugriffsdaten und Logfiles</strong>: Wir selbst (bzw.
  unser Webhostinganbieter) erheben Daten zu jedem Zugriff auf den Server
  (sogenannte Serverlogfiles). Zu den Serverlogfiles können die Adresse und Name
  der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs,
  übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp nebst
  Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte
  Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören.
</p>
<p>
  Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt
  werden, z.B., um eine Überlastung der Server zu vermeiden (insbesondere im
  Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum
  anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen.
</p>
<ul class="m-elements">
  <li>
    <strong>Verarbeitete Datenarten:</strong> Inhaltsdaten (z.B. Eingaben in
    Onlineformularen), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an
    Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B.
    Geräte-Informationen, IP-Adressen).
  </li>
  <li>
    <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer
    von Onlinediensten).
  </li>
  <li>
    <strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres
    Onlineangebotes und Nutzerfreundlichkeit.
  </li>
  <li>
    <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S.
    1 lit. f. DSGVO).
  </li>
</ul>
<h2 id="m182">Kontaktaufnahme</h2>
<p>
  Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon
  oder via soziale Medien) werden die Angaben der anfragenden Personen
  verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen und etwaiger
  angefragter Maßnahmen erforderlich ist.
</p>
<p>
  Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder
  vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer vertraglichen
  Pflichten oder zur Beantwortung von (vor)vertraglichen Anfragen und im Übrigen
  auf Grundlage der berechtigten Interessen an der Beantwortung der Anfragen.
</p>
<ul class="m-elements">
  <li>
    <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
    Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B.
    Eingaben in Onlineformularen), Nutzungsdaten (z.B. besuchte Webseiten,
    Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B.
    Geräte-Informationen, IP-Adressen).
  </li>
  <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
  <li>
    <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation.
  </li>
  <li>
    <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
    Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6
    Abs. 1 S. 1 lit. f. DSGVO).
  </li>
</ul>
<h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
<p>
  Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten
  in diesem Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu
  kommunizieren oder um Informationen über uns anzubieten.
</p>
<p>
  Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der
  Europäischen Union verarbeitet werden können. Hierdurch können sich für die
  Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer
  erschwert werden könnte.
</p>
<p>
  Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall
  für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des
  Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer
  Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet
  werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Netzwerke zu
  schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen
  Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert,
  in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert
  werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von
  den Nutzern verwendeten Geräte gespeichert werden (insbesondere, wenn die
  Nutzer Mitglieder der jeweiligen Plattformen sind und bei diesen eingeloggt
  sind).
</p>
<p>
  Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
  Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die
  Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.
</p>
<p>
  Auch im Fall von Auskunftsanfragen und der Geltendmachung von
  Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den
  Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils
  Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen
  ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann
  können Sie sich an uns wenden.
</p>
<ul class="m-elements">
  <li>
    <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail,
    Telefonnummern), Inhaltsdaten (z.B. Eingaben in Onlineformularen),
    Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
    Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen,
    IP-Adressen).
  </li>
  <li>
    <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer
    von Onlinediensten).
  </li>
  <li>
    <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation,
    Feedback (z.B. Sammeln von Feedback via Online-Formular), Marketing.
  </li>
  <li>
    <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S.
    1 lit. f. DSGVO).
  </li>
</ul>
<h2 id="m723">Management, Organisation und Hilfswerkzeuge</h2>
<p>
  Wir setzen Dienstleistungen, Plattformen und Software anderer Anbieter
  (nachfolgend bezeichnet als "Drittanbieter”) zu Zwecken der Organisation,
  Verwaltung, Planung sowie Erbringung unserer Leistungen ein. Bei der Auswahl
  der Drittanbieter und ihrer Leistungen beachten wir die gesetzlichen Vorgaben.
</p>
<p>
  In diesem Rahmen können personenbezogenen Daten verarbeitet und auf den
  Servern der Drittanbieter gespeichert werden. Hiervon können diverse Daten
  betroffen sein, die wir entsprechend dieser Datenschutzerklärung verarbeiten.
  Zu diesen Daten können insbesondere Stammdaten und Kontaktdaten der Nutzer,
  Daten zu Vorgängen, Verträgen, sonstigen Prozessen und deren Inhalte gehören.
</p>
<p>
  Sofern Nutzer im Rahmen der Kommunikation, von Geschäfts- oder anderen
  Beziehungen mit uns auf die Drittanbieter bzw. deren Software oder Plattformen
  verwiesen werden, können die Drittanbieter Nutzungsdaten und Metadaten zu
  Sicherheitszwecken, zur Serviceoptimierung oder zu Marketingzwecken
  verarbeiten. Wir bitten daher darum, die Datenschutzhinweise der jeweiligen
  Drittanbieter zu beachten.
</p>
<p>
  <strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um deren
  Einwilligung in den Einsatz der Drittanbieter bitten, ist die Rechtsgrundlage
  der Verarbeitung von Daten die Einwilligung. Ferner kann deren Einsatz ein
  Bestandteil unserer (vor)vertraglichen Leistungen sein, sofern der Einsatz der
  Drittanbieter in diesem Rahmen vereinbart wurde. Ansonsten werden die Daten
  der Nutzer auf Grundlage unserer berechtigten Interessen (d.h. Interesse an
  effizienten, wirtschaftlichen und empfängerfreundlichen Leistungen)
  verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen
  zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.
</p>
<ul class="m-elements">
  <li>
    <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
    Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B.
    Eingaben in Onlineformularen), Nutzungsdaten (z.B. besuchte Webseiten,
    Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B.
    Geräte-Informationen, IP-Adressen).
  </li>
  <li>
    <strong>Betroffene Personen:</strong> Kommunikationspartner, Nutzer (z.B.
    Webseitenbesucher, Nutzer von Onlinediensten).
  </li>
  <li>
    <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a.
    DSGVO), Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1
    lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
  </li>
</ul>
<h2 id="m12">Löschung von Daten</h2>
<p>
  Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben
  gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen
  werden oder sonstige Erlaubnisse entfallen (z.B., wenn der Zweck der
  Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht
  erforderlich sind).
</p>
<p>
  Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich
  zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke
  beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke
  verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen
  Gründen aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung,
  Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte
  einer anderen natürlichen oder juristischen Person erforderlich ist.
</p>
<p>
  Unsere Datenschutzhinweise können ferner weitere Angaben zu der Aufbewahrung
  und Löschung von Daten beinhalten, die für die jeweiligen Verarbeitungen
  vorrangig gelten.
</p>
<h2 id="m15">Änderung und Aktualisierung der Datenschutzerklärung</h2>
<p>
  Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung
  zu informieren. Wir passen die Datenschutzerklärung an, sobald die Änderungen
  der von uns durchgeführten Datenverarbeitungen dies erforderlich machen. Wir
  informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung
  Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle
  Benachrichtigung erforderlich wird.
</p>
<p>
  Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen
  von Unternehmen und Organisationen angeben, bitten wir zu beachten, dass die
  Adressen sich über die Zeit ändern können und bitten die Angaben vor
  Kontaktaufnahme zu prüfen.
</p>
<h2 id="m10">Rechte der betroffenen Personen</h2>
<p>
  Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich
  insbesondere aus Art. 15 bis 21 DSGVO ergeben:
</p>
<ul>
  <li>
    <strong
      >Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer
      besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie
      betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit.
      e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf
      diese Bestimmungen gestütztes Profiling. Werden die Sie betreffenden
      personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben
      Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie
      betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung
      einzulegen; dies gilt auch für das Profiling, soweit es mit solcher
      Direktwerbung in Verbindung steht.</strong
    >
  </li>
  <li>
    <strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht,
    erteilte Einwilligungen jederzeit zu widerrufen.
  </li>
  <li>
    <strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung
    darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf
    Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
    Daten entsprechend den gesetzlichen Vorgaben.
  </li>
  <li>
    <strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den
    gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie betreffenden
    Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu
    verlangen.
  </li>
  <li>
    <strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie
    haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass
    Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach
    Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der
    Daten zu verlangen.
  </li>
  <li>
    <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie
    betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe der
    gesetzlichen Vorgaben in einem strukturierten, gängigen und
    maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen
    anderen Verantwortlichen zu fordern.
  </li>
  <li>
    <strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet
    eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs
    das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem
    Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder
    des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die
    Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Vorgaben
    der DSGVO verstößt.
  </li>
</ul>
<h2 id="m42">Begriffsdefinitionen</h2>
<p>
  In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser
  Datenschutzerklärung verwendeten Begrifflichkeiten. Viele der Begriffe sind
  dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die gesetzlichen
  Definitionen sind verbindlich. Die nachfolgenden Erläuterungen sollen dagegen
  vor allem dem Verständnis dienen. Die Begriffe sind alphabetisch sortiert.
</p>
<ul class="glossary">
  <li>
    <strong>Personenbezogene Daten:</strong> "Personenbezogene Daten“ sind alle
    Informationen, die sich auf eine identifizierte oder identifizierbare
    natürliche Person (im Folgenden "betroffene Person“) beziehen; als
    identifizierbar wird eine natürliche Person angesehen, die direkt oder
    indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen,
    zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie)
    oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann,
    die Ausdruck der physischen, physiologischen, genetischen, psychischen,
    wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen
    Person sind.
  </li>
  <li>
    <strong>Verantwortlicher:</strong> Als "Verantwortlicher“ wird die
    natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle,
    die allein oder gemeinsam mit anderen über die Zwecke und Mittel der
    Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.
  </li>
  <li>
    <strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder ohne Hilfe
    automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe
    im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und
    umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten,
    das Speichern, das Übermitteln oder das Löschen.
  </li>
</ul>
<p class="seal">
  <a
    href="https://datenschutz-generator.de/?l=de"
    rel="noopener noreferrer nofollow"
    target="_blank"
    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
    >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
    Schwenke</a
  >
</p>
