<table mat-table [dataSource]="this.results" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Factor</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Estimate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.weight | number: ".4" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="standardError">
    <th mat-header-cell *matHeaderCellDef>Standard Error</th>
    <td mat-cell *matCellDef="let element">
      {{ element.standardError | number: ".4" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="probability">
    <th mat-header-cell *matHeaderCellDef>Probability</th>
    <td mat-cell *matCellDef="let element">
      {{ element.probability | number: ".4" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="significance">
    <th mat-header-cell *matHeaderCellDef matTooltip="Statistical Significance">
      &alpha;
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      matTooltip="Statistical Significance"
    >
      {{ this.formattedSignificance(element) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="confidenceStart">
    <th mat-header-cell *matHeaderCellDef>
      [ {{ (1 - confidenceLevel) / 2 | percent: ".1" }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.confidenceStart | number: ".4" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="confidenceEnd">
    <th mat-header-cell *matHeaderCellDef>
      {{ 1 - (1 - confidenceLevel) / 2 | percent: ".1" }} ]
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.confidenceEnd | number: ".4" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
